<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>
<!-- если список конвертаций пуст -->
<div th:if="${#lists.isEmpty(conversions)}">
    <p>История конвертаций пуста!</p>
</div>
<!-- если список конвертаций не пуст -->
<div th:unless="${#lists.isEmpty(conversions)}">
    <!-- таблица с данными о конвертации -->
    <table>
        <tr>
            <th>Из</th>
            <th>В</th>
            <th>Ставка</th>
            <th>Сумма</th>
            <th>Результат</th>
            <th>Время</th>
        </tr>
            <tr th:each="conversion : ${conversions}">
                <td th:text="${conversion.getFromCurrency()}">Data 1</td>
                <td th:text="${conversion.getToCurrency()}">Data 2</td>
                <td th:text="${conversion.getCurrencyRate()}">Data 3</td>
                <td th:text="${conversion.getQuantity()}">Data 4</td>
                <td th:text="${conversion.getTotalResult()}">Data 5</td>
                <td th:text="${conversion.getConvertedAt()}">Data 6</td>
            </tr>
    </table>
</div>

</body>
</html>